# WeaveHub API base URL (e.g. deployed backend or local development backend)
VITE_API_URL=https://weavehub-api-w0l4.onrender.com/api/v1

# Deep linking URI scheme configured in the WeaveHub Expo mobile app
VITE_APP_SCHEME=weavehub

# Mobile store URLs
VITE_ANDROID_STORE_URL=https://play.google.com/store/apps/details?id=com.akasintech.weavehub
VITE_IOS_STORE_URL=https://apps.apple.com/app/weavehub/id9b155524

# Public storefront website URL for QR codes and universal link generation
VITE_WEBSITE_URL=http://localhost:3000
